

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

table{
    padding: 40px;
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
    margin-left: 30vw;
    margin-top: 10vh;
    box-shadow: 0 0 7px rgb(12, 12, 12);
    color:whitesmoke;
}

header{
    color: white;
    height: 30vh;
    width: 100vw;
    background-image: linear-gradient(135deg, rgba(245, 247, 250, 0.336) 0%, rgba(195, 207, 226, 0.329) 100%), url(../imagenes/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 0 10px black;
    font-family: 'Montserrat', sans-serif;
}

.menu{
    position:fixed;
    top: 30px;
    right: 30px;
    background: rgba(212, 212, 212, 0.521);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(2, 2, 2, 0.521);
}
 
header h1{
    margin-left: 10px;
}
.problema{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 10px;
}

.td_sup{
    align-items: left;
    width: 100;
    justify-content: left;

}

.td_inf{
    align-items: center;
    justify-content: center;
    width: 150;
}

.input_text{
    align-items: center;
    justify-content: center;
    size: 12;
    border-width: 2px;
    border-style: solid;
    color: rgb(116, 8, 71);
    letter-spacing: 3px;
    font-size: 10px;
}

footer{
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    padding-bottom: 0.1px;
    border: solid 1px rgb(255, 255, 255);
    margin-top: 40px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contacta{
    width: 40%;
    color: whitesmoke;
}

.contacta p{
    font-family: 'Montserrat', sans-serif;
    margin-left: 65px;
    font-weight: 400;
}

.brand{
    font-weight: 500;
    font-size: 25px;
    font-weight: 400;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    margin-right: 60px;
    width:60px;
    height: 60px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    text-align: center;
    color: whitesmoke;
}

.social-media-icon:hover{
background: whitesmoke;
color: rgb(204, 192, 19);
}

.social-media-icon i{
    font-size: 35px;
    line-height: 60px;
    font-weight: 400;
}

.line{
    width: 90%;
    max-width:  1200px;
    margin: 0 auto;
    height: 2px;
    background: whitesmoke;
    margin-bottom: 60px;
}

/*flexbox*/

@media screen and (max-width:800px){

    .titulo{
        font-size: 40px;
    }

    .cont-con{
        width: 50%;
    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media i{
        margin-left: 0;
    }

    .contacta{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}